.cart-product {
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  height: 72px;
  padding: 0 12px;

  &-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    height: 60px;
    pointer-events: none;
    user-select: none;
    width: 60px;
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    margin-left: 12px;
  }

  &-counter {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 8px;
    justify-content: flex-end;
  }

  &-price {
    align-items: center;
    background-color: darkolivegreen;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    height: 32px;
    line-height: 20px;
    padding: 0 8px;
    white-space: nowrap;
  }

  &-sum {
    align-items: center;
    background-color: darkgreen;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    height: 36px;
    line-height: 20px;
    padding: 0 10px;
    white-space: nowrap;
  }

  &-delete-button {
    margin-left: 24px;
  }
}

.count-input {
  width: 50px;
}
