:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.products-title {
  margin-bottom: 24px;
}

.products-container {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
