:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  width: 100%;
}

.products-title {
  margin-bottom: 24px;
}

.products-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 20px;
}
