<div class="product-card">
  <img [src]="product.imageUrl" class="product-card-image" alt="product-image">
  <span class="product-card-title">{{product.title | convertCase: 'title'}}</span>
  <div class="product-card-price">{{product.price}} $</div>
  <div class="cart-count-manager">
    <tui-input-number class="count-input" [formControl]="countControl" tuiTextfieldSize="s"></tui-input-number>
    <button class="product-cart-button"
            tuiButton
            size="s"
            (click)="addToCart()">
      To cart
    </button>
  </div>
</div>
