<div class="title-container">
  <button tuiButton icon="tuiIconArrowLeft" size="s" appearance="secondary" (click)="backToProductsListPage()">
    Back to products
  </button>
  <h1>Cart</h1>
</div>

<div class="cart-products-container">
  <app-cart-product *ngFor="let cartProduct of cartProducts" [cartProduct]="cartProduct"></app-cart-product>
</div>

<app-cart-form *ngIf="cartProducts.length" (chosenCountryRate)="changeRate($event)"></app-cart-form>

<div class="total-container">
  <h2>Total: {{totalSum$ | async | number:'1.0-2'}} {{countryCode$ | async | tuiCurrency}}</h2>
</div>
